body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #bbbbbb;
    padding: 20px 0px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.caixa-contato{
    position: relative;
    width: 940px;
    margin: 0 0 0 50px;   
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    text-transform: uppercase;
    margin: 0 0 0 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos ul {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block; 
    box-sizing: border-box;
    width: 30%;
    padding: 30px 20px;
    margin: 0 1.5%;
    text-align: center; 
    vertical-align: top;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos ul li:active {
    border-color: #088C19;    
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:hover h2 {
    font-size: 35px;
}

.produtos h2 {
    font-weight: bold;
    font-size: 30px;
}

.descricao-produto {
    font-size: 18px;
}

.preco-produto {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background: url("imagens/bg.jpg");
    text-align: center;
    padding: 15px 0px;
}

footer p {
    font-size: 13px;
    color: #FFFFFF;
    margin-top: 20px;
}

form {
    margin: 40px 0px;
}

main form label, form legend {
    display: block;
    font-size: 23px;
    margin: 15px 0;
}

.cadastro {
    display: block;
    padding: 10px 10px;
    margin: 15px 0px;
    width: 50%;
    font-size: 18px;
}

.espacamento{
    margin: 25px 0px;
}

option, select {
    width: 13%;
    font-size: 18px;
    padding: 15px 15px;
}

.radioButton:hover, select:hover, #novidades:hover, #submit:hover{
    cursor: pointer;
}

.botaoEnviar {
    width: 40%;
    background-color: orange;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 10px 0px;
    transition: 0.5 all;
    border: none;
    border-radius: 4px;
}

.botaoEnviar:hover {
    cursor: pointer;
    background-color: darkorange;
    transform: scale(1.1);
}

table {
    margin: 20px 0 40px 0;
}

thead {
    background-color: gray;
    color: white;
    font-weight: bold;
}

th , td {
    padding: 8px 15px;
    border: 1px solid black;
}

/* css página principal */

.banner {
    width: 100%;
    margin: 2.5px 0px;
    height:700px;
}

.principal{
    padding: 30px;
    clear: left;
    width: 940px;
    margin: 0 auto;
    background-color:  #FEFEFE;
}

.principal p {
    margin: 0 0 1em;
    font-size: 19px;
}

.principal p strong {
    font-weight: bold;
}

.principal p em {
    font-style: italic;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.utensilios {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    width: 940px;
    margin: 0 auto;   
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 1em;
    text-align: center;
}

.beneficios {
    margin: 2em auto;
    width: 940px;
}

.listaBeneficios{
    display: inline-block;
    vertical-align: top;
    margin: 2em auto;
    width: 40%;
}

.itens {
    line-height: 2em;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "★";
}

.imgBeneficios {
    width:60%;
}

.video {
    width: 560px;
    margin: 1em auto;
}

.backgroundMapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.backgroundFundo {
    background-color: #888888;
    padding: 20px 0 20px 0;
}









