
.principal{
    background-color: #CCCCCC;
    padding: 30px;
}

#banner {
    width: 100%;
    margin: 5px 0px
}

.titulo-centralizado {
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
}

p {
    text-align: center;
}

#missao{
    font-size: 20px;
}

.principal p em strong {
    color: rgb(255, 0, 0);
}

.beneficios {
    padding: 30px
}

.beneficios h2 {
    padding: 30px 0px;
    font-size: 25px;
    font-weight: bold;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: 10%;
}

.itens {
    font-style: italic;
}

#imgBeneficios {
    width: 50%;
}

